


<!-- <table class="table">
  <tr>
  <th>Item</th>
  <th>Quantity</th>
  <th>Sub-total</th>
</tr>
<tr ng-repeat="item in cart.items">
  <td>
    <div class="info">
    <h1>{{item.name}}</h1>
    <img class="img-responsive center-block img-thumbnail size" src={{item.imageUrl}} alt="description">
    <p> Weird Scale: {{item.weirdScale}}</p>
    <p> Description: {{item.description}}</p>
    <p> Rating: {{item.rating}}</p>
  </div>
  </td>
  <td>
    {{item.quantity}}
  </td>
  <td>
    {{item.quantity*item.price|currency}}
  </td> -->
<div>
<div>
<h3 class="total"> Order Total: {{cart.orderTotal|currency}} </h3>
</div>
</div>
  <table class="table table-bordered">
    <tr>
    <th>Item</th>
    <th>Quantity</th>
    <th>Sub-total</th>
  </tr>
    <tr ng-repeat="item in cart.items">
      <td class="test">
        <div class="info">
        <h2>{{item.name}}</h2>
        <img class="img-responsive img-thumbnail size" src={{item.imageUrl}} alt="description">
        <p>Weird Scale: {{item.weirdScale}}</p>
        <p>Description: {{item.description}}</p>
        <p>Rating: {{item.rating}}</p>
      </div>
      </td>
      <td>
      <div>
        {{item.quantity}}
        </div>
      </td>
        <td>
          <div class="sub">
          {{item.quantity*item.price|currency}}
        </div>
      </td>
        <!-- <div class="edit"> -->
        <td class="forms">
          <div.larger>
          <div class="edit">
          <form>
          <input type="submit" class="btn btn-warning" value="Edit"/>
        </form>
      </div>
        <div class="remove">
          <form>
          <input type="submit" class="btn btn-danger" value="Remove"/>
        </form>
      </div>
    </div>
        </td>
