
<div>
<div>
<h3 class="total"> Order Total: {{cart.orderTotal|currency}} </h3>
</div>
</div>
  <table class="table table-bordered">
    <tr>
    <th>Item</th>
    <th>Quantity</th>
    <th>Sub-total</th>
  </tr>
    <tr ng-repeat="item in cart.items">
      <td class="test">
        <div class="info">
        <h2>{{item.name}}</h2>
        <img class="img-responsive img-thumbnail size" src={{item.imageUrl}} alt="description">
        <p>Weird Scale: {{item.weirdScale}}</p>
        <p>Description: {{item.description}}</p>
        <p>Rating: {{item.rating}}</p>
        <!-- <div class="caffeine-section">
        <weird-scale weirdemg="item.weirdScale"></weird-scale>
      </div> -->
      </div>
      </td>
      <td>
      <div>
        <p ng-show="!save">{{item.quantity}}</p>
        <input class="number" ng-show="save" type="number" ng-model="quantity" ng-init="quantity='item.quantity'">
        </div>
      </td>
        <td>
          <div class="sub">
          {{item.quantity*item.price|currency}}
        </div>
      </td>
        <!-- <div class="edit"> -->
        <td class="forms">
          <div.larger>
          <div class="edit">
          <form ng-submit="editQuantity()">
          <input ng-click="toggleButton()" ng-show="save" type="submit" class="btn btn-warning" value="Save"/>
          </form>
          <form>
          <input ng-click="toggleButton()" ng-show="!save" type="submit" class="btn btn-warning" value="Edit"/>
        </form>
      </div>
        <div class="remove">
          <form ng-submit="removefromCart()">
          <input type="submit" ng-model="item" class="btn btn-danger" value="Remove"/>
        </form>
      </div>
    </div>
        </td>
